.content {
    // background-color: var(--bg-color);
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    @media (min-width: 768px) {
        max-width: 768px;
    }
    @media (min-width: 1280px) {
        max-width: 1024px;
    }

    h1 {
        color: var(--accents-7);
        font-size: var(--font-size-xl);
        font-weight: 600;
        margin: 1rem 0;
    }

    p {
        margin: 15px 0;

        &:last-child {
            padding-bottom: 2rem;
        }
    }
}
.about_img {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
    @media (max-width: 768px) {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .about_img_container {
        // @media (max-width: 768px) {
        //     align-self: center;
        //     margin: 0;
        // }

        .img {
            // shape-outside: circle(50%);
            // float: left;
            width: 192px;
            height: 192px;
            border-radius: 50%;
            border-top-right-radius: 0;
            // margin: 3rem;
            // margin-left: 0;

            @media (max-width: 768px) {
                // clear: both;
                margin: 4rem 0 2rem 0;
                // shape-outside: none;
            }
        }
    }

    .about_hello {
        align-items: center;
        position: relative;
        svg {
            position: absolute;
            display: inline-block;
            width: 36px;
            height: auto;
            color: var(--accents-7);
        }
        h1 {
            display: inline-block;
            font-size: var(--font-size-xlg);
            font-weight: 600;
            font-family: var(--condensed);
            margin: 0;
            margin-right: 10px;
            line-height: 1;
        }
    }
}
.heading,
.sub_heading {
    color: var(--accents-7);
    margin-bottom: 8px;
    display: flex;
    gap: 6px;
    align-items: center;
    margin-top: 2rem !important;
    margin-bottom: 0.5rem;
}
.sub_heading {
    color: var(--accent);
    // font-weight: 600;
    // font-family: var(--condensed);

    & + p {
        b {
            color: var(--accent);
        }
    }
}

.skills {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    .skills_icon {
        display: inline-block;
        background-color: #fafafa;
        margin: 16px;
        border-radius: 0.5rem;
        transition: all 0.3s ease-in-out;
        filter: grayscale(0);
        &:hover {
            filter: grayscale(100%);
        }
        svg {
            display: inline-block;
            height: 50px;
            width: auto;
            max-width: 8rem;
            margin: 16px;
            @media (max-width: 800px) {
                height: 50px;
                margin: 10px;
            }
        }
    }
}
.bounce {
    -webkit-animation-name: bounce-animation;
    animation-name: bounce-animation;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}
@keyframes bounce-animation {
    0%,
    100% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-10px);
    }
}

.work {
    display: flex;
    flex-flow: column;
}
.work_container {
    display: flex;
    align-items: center;
    &:not(:first-of-type) {
        margin-top: 1.5rem;
    }

    & > div {
        flex: 1 1 0%;
        display: grid;
        gap: 5px;
        span {
            color: var(--text-color);
            font-size: var(--font-size-sm);
            margin: 0;
            // line-height: 1.5;
        }
        h1 {
            font-size: var(--font-size-md);
            line-height: 1.5;
            margin: 0;
            // margin: 0.1rem 0 0.5rem;
        }
        h2 {
            font-size: var(--font-size-sm);
            margin: 0;
            line-height: 1.5;
            font-weight: 500;
            color: var(--text-color);
        }
    }
}
.span {
    position: relative;
    margin-right: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: flex;

    .ping {
        animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
        width: 100%;
        position: absolute;
        height: 100%;
        display: inline-flex;
        border-width: 2px;
        border-radius: 9999px;
        background-color: transparent;
        border-color: var(--accent);
    }

    .notping {
        width: 1rem;
        position: relative;
        height: 1rem;
        display: inline-flex;
        border-width: 2px;
        border-radius: 9999px;
        background-color: transparent;
        border-color: var(--accent);
    }
}

@keyframes ping {
    75%,
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}
