.content{
    background-color: var(--bg-color);
    position: relative;
    margin-top: -60px;
    padding: 3rem 1rem 1rem 1rem;

    p{
        margin: 15px 0;

    }
}
.about_img{
    
    .img{
        float: left;
        width: 180px;
        margin: 1rem 2rem 1rem 0;
        @media (max-width: 600px){
            clear: both;
            width: auto;
            height: auto;
            border-radius: 0;
            margin: 0;
            margin-bottom: 1rem;
        }
    }
}

.heading{
    color: var(--default-color);
    margin-bottom: 8px;
    display: flex;
    align-items: center;

    &:not(:first-of-type){
		margin-top: 32px;
	}

    svg{
        margin-left: 5px;
    }

    & + p {
        b{
            color: var(--accent);
        }
    }
}

.skills_list {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 20px 0px 0px 15px;
    overflow: hidden;
    list-style: none;
    position: relative;

        li{
            padding: 5px 0;

            &:first-child{
                padding-top: 0;
            }
            &:last-child{
                padding-bottom: 0;
            }
        }
        li::before {
            content: "▹";
            display: inline-block;
            margin-right: 3px;
            left: 0px;
            color: var(--accent);
            line-height: 12px;
        }
}