.content{
    background-color: var(--bg-color);
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    @media (min-width: 768px){
        max-width: 768px;
    }
    @media (min-width: 1280px){
        max-width: 1024px;
    }

    h1{
        color: var(--default-color);
        font-size: var(--font-size-xl);
        font-weight: 600;
        margin: 1rem 0;
    }

    p{
        margin: 15px 0;

    }
}
.about_img{
    display: flex;
    flex-flow: column;

    @media (min-width: 768px) {
        flex-direction: row;
    }

    .about_img_container{
            @media (max-width: 768px){
               
                align-self: center;
                margin: 0;
            }

        .img{
            width: 192px;
            height: 192px;
            border-radius: 50%;
            margin: 4rem 0 2rem 0;

            @media (min-width: 768px) {
                margin: 2rem 3rem 1rem 0;
            }
            
        }
    
    }
    
    .about_context{
        
        .about_hello{
            display: flex;
            align-items: center;
            margin-top: 2rem;
            svg{

                width: 36px;
                color: var(--default-color);
            }
            h1{
                font-size: var(--font-size-xlg);
                font-weight: 600;
                margin: 0;
                margin-right: 15px;
            }
        }
    }
}

.heading{
    color: var(--default-color);
    margin-bottom: 8px;
    display: flex;
    align-items: center;

    &:not(:first-of-type){
		margin-top: 32px;
	}

    svg{
        margin-left: 5px;
    }

    & + p {
        b{
            color: var(--accent);
        }
    }
}

.skills{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    .skills_icon{
        display: inline-block;
        background-color: #fafafa;
        margin: 16px;
        border-radius: .5rem;
        svg{
            display: inline-block;
            height: 64px;
            width: auto;
            max-width: 8rem;
            margin: 16px;
        }
    }
}
.bounce {
    -webkit-animation-name: bounce-animation;
    animation-name: bounce-animation;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}
@keyframes bounce-animation{
    0%, 100% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-10px);
    }
}
