.content{
    background-color: var(--bg-color);
    position: relative;
    max-width: 1024px;
    height: 370px;
    margin: 0 auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    transition: all .3s ease;

    @media (min-width: 768px){
        max-width: 768px;
    }
    @media (min-width: 1280px){
        max-width: 1024px;
    }

}