.content{
    background-color: var(--bg-alt-color);
    position: relative;
    margin-top: -60px;
    padding: 20px;
    transition: all .3s ease;

    .headerSocial{
        animation: none;
        background: red;
        @media screen and (min-width: 540px){
            display: none;
        }
    }

}
.form{
    display: grid;
    grid-auto-flow: row;
    margin: 2em 0;
    grid-gap: 1em;
    transition: all .3s ease;
}
.form_group{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    margin-bottom: 10px;
    transition: all .3s ease;
    position: relative;

    label{
        font-size: 1rem;
        font-weight: 600;
        padding: 8px 12px;
    }

    input{
        width: auto;
        border: none;
        border-bottom: 2px solid var(--border-bottom);
        border-radius: 0;
        background-color: transparent;
        -webkit-appearance: none;
        padding: 12px;
        outline: none;
        color: var(--text-color);
        transition: all .3s ease;
    }
    input::-webkit-input-placeholder{
        font-weight: 900;
        margin-left: 1rem;
        color: var(--text-color);
        opacity: .4;
    }
    input::-moz-placeholder{
        font-weight: 900;
        margin-left: 1rem;
        color: var(--text-color);
        opacity: .4;
    }
    input:focus{
        border-bottom: 2px solid var(--accent);
        transition: all .3s ease;
    }
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}
.form_text{
    display: grid;
    grid-template-columns:1fr;
    position: relative;
    margin-top: 10px;
    textarea{
        display: grid;
        max-width: 100%; 
        min-height: 120px;
        resize: vertical;
        background-color: transparent;
        border: 2px solid #4B535E;
        border-radius: .5rem;
        color: var(--text-color);
        padding: 12px;
        transition: all .3s ease;
    }
    textarea:focus{
        outline: none;
        border-color: var(--accent);
        
    }
}
.errorText{
    color: var(--error-color);
    font-weight: 700;
    font-size: 13px;
    margin-top: 2px;
    position: absolute;
    bottom: -20px;

}
.model{
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 222222222222;
    padding: 10px;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    animation: fadeIn 1s;

    .modal_success_wrapper{
        position: relative;
        z-index: 10;
        width: 100%;
        max-width: 30rem;
        margin: 4rem auto;
        transition: all 0.2s ease 0s;

        -webkit-box-shadow: 0 2px 3px 0 rgba(60, 64, 67, 0.3),
            0 6px 10px 4px rgba(60, 64, 67, 0.15) !important;
        background-color: var(--bg-alt-color) !important;
        -webkit-border-radius: 16px !important;
        overflow: hidden;

        .modal_header {
            color: #fff;
            padding: 0.2em 1em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #238636;
            border-color: #c3e6cb;
            p{
                margin: 0;
                padding: 0;
                font-size: 16px;
                letter-spacing: normal;
                line-height: 36px;
            }

        }

        .modal_success_content {
            padding: 1rem 0.5rem;
            text-align: center;

            .modal_success_body {
                margin-bottom: 0.4rem;

                p{
                    margin: 0;
                    font-size: 17px;
                    font-weight: 500;
                    margin-top: 5px;
                }
            }

            .modal_footer {
                display: flex;
                justify-content: flex-end !important;

                button {
                    outline: none;
                    cursor: pointer;
                    border: none;
                    background: var(--model-btn);
                    padding: 0.7rem 1rem;
                    border-radius: 8px;
                    margin-top: 10px;
                    color: inherit;
                    display: flex;
                    justify-content: flex-end !important;
                    transition: all .3s ease;

                    &:hover{
                        background: var(--model-btn-hover);
                    }
                }
            }
        }
    }
}

.modelError{
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 222222222222;
    padding: 10px;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    animation: fadeIn 1s;

    .modal_success_wrapper{
        position: relative;
        z-index: 10;
        width: 100%;
        max-width: 30rem;
        margin: 4rem auto;
        transition: all 0.2s ease 0s;

        -webkit-box-shadow: 0 2px 3px 0 rgba(60, 64, 67, 0.3), 0 6px 10px 4px rgba(60, 64, 67, 0.15) !important;
        background-color: var(--bg-alt-color) !important;
        -webkit-border-radius: 16px !important;
        overflow: hidden;

        .modal_header {
            color: #fff;
            padding: 0.2em 1em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgba(255, 38, 38, 0.726);
            border-color: #c3e6cb;

            p{
                margin: 0;
                padding: 0;
                font-size: 16px;
                letter-spacing: normal;
                line-height: 36px;
            }

        }

        .modal_success_content {
            padding: 1rem 0.5rem;
            text-align: center;

            .modal_success_body {
                margin-bottom: 0.4rem;

                p{
                    margin: 0;
                    font-size: 17px;
                    font-weight: 500;
                    margin-top: 5px;
                }
            }

            .modal_footer {
                display: flex;
                justify-content: flex-end !important;

                button {
                    outline: none;
                    cursor: pointer;
                    border: none;
                    background: rgba(0, 0, 0, 0.5);
                    padding: 0.7rem 1rem;
                    border-radius: 8px;
                    margin-top: 10px;
                    color: inherit;
                    display: flex;
                    justify-content: flex-end !important;

                    &:hover{
                        background: rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
    }
}

.show{
    display: flex !important;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}