.content {
    background-color: var(--bg-color);
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (min-width: 768px) {
        max-width: 768px;
    }
    @media (min-width: 1280px) {
        max-width: 1024px;
    }

    h1 {
        color: var(--default-color);
        font-weight: 600;
        margin-top: 32px;
        margin-bottom: 8px;
        font-size: var(--font-size-xlg);
    }
}
.intro {
    width: 80%;
    text-align: center;
    @media screen and (max-width: 700px) {
        width: 100%;
    }

    h1 {
        // color: var(--accent);
        font-weight: bold;
    }
}
.contact_wrapper {
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    @media screen and (max-width: 700px) {
        width: 100%;
    }
}

.form_input {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 700px) {
        flex-flow: column;
    }
}
.form_side {
    width: 48%;
    @media screen and (max-width: 700px) {
        width: 100%;
        margin-bottom: 30px;
    }
}
.form_textarea {
    margin-top: 30px;
    @media screen and (max-width: 700px) {
        width: 100%;
        margin-top: 0;
    }
}
.form_group {
    transition: all 0.3s ease;
    position: relative;

    label {
        font-size: var(--font-size-sm);
        font-weight: 600;
        padding: 8px 0px;
    }

    input {
        width: 100%;
        max-width: 100%;
        border: none;
        // border-bottom: 2px solid var(--border-bottom);
        border-radius: 0.5rem;
        background-color: var(--bg-alt-color4);
        -webkit-appearance: none;
        padding: 15px;
        outline: none;
        color: var(--text-color);
        transition: all 0.5s ease;
        margin-top: 5px;
    }
    input::-webkit-input-placeholder {
        // font-weight: 900;
        margin-left: 1rem;
        color: var(--text-color);
        opacity: 0;
    }
    input::-moz-placeholder {
        font-weight: 900;
        margin-left: 1rem;
        color: var(--text-color);
        opacity: 0.4;
    }
    input:focus {
        // border: 2px solid var(--accent);
        // border-bottom-color: var(--accent);
        background-color: var(--bg-alt-color5);
        transition: all 0.5s ease;
    }
    textarea {
        width: 100%;
        min-height: 100px;
        resize: none;
        margin-top: 5px;
        padding: 15px;

        // background-color: transparent;
        background-color: var(--bg-alt-color4);
        // border: none;
        border-radius: 0.5rem;
        // border-bottom: 2px solid var(--border-bottom);
        color: var(--text-color);
        transition: all 0.5s ease;
    }
    textarea::-webkit-input-placeholder {
        // font-weight: 900;
        margin-left: 1rem;
        color: var(--text-color);
        opacity: 0;
    }
    textarea:focus {
        outline: none;
        // border-color: var(--accent);
        // border-bottom-color: var(--accent);
        background-color: var(--bg-alt-color5);
    }
}

.socialMediaPresence_desktop {
    display: none;
    @media screen and (min-width: 800px) {
        display: block;
    }
}
.socialMediaPresence_mobile {
    display: none;
    @media screen and (max-width: 800px) {
        display: block;
    }
}
.button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.errorText {
    color: var(--error-color);
    font-weight: 700;
    font-size: 13px;
    margin-top: 2px;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.modalSuccess {
    background-color: #238636;
}
.modalError {
    background-color: rgba(255, 38, 38, 0.726);
}
.model {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 222222222222;
    padding: 10px;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    animation: fadeIn 1s;

    .modal_wrapper {
        position: relative;
        z-index: 10;
        width: 100%;
        max-width: 600px;
        margin: 4rem auto;
        transition: all 0.2s ease 0s;

        box-shadow: 0 2px 3px 0 rgba(60, 64, 67, 0.3),
            0 6px 10px 4px rgba(60, 64, 67, 0.15) !important;
        background-color: var(--bg-alt-color) !important;
        border-radius: 1rem !important;
        overflow: hidden;

        .modal_header {
            color: #fff;
            padding: 0.2em 1em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
                margin: 0;
                padding: 0;
                font-size: var(--font-size-lg);
                letter-spacing: normal;
                line-height: 36px;
            }
        }

        .modal_content {
            padding: 1rem 0.5rem;
            text-align: center;

            .modal_body {
                margin-bottom: 0.4rem;

                p {
                    margin: 0;
                    font-size: var(--font-size-md);
                    font-weight: 500;
                    margin-top: 5px;
                }
            }

            .modal_footer {
                display: flex;
                justify-content: flex-end !important;

                button {
                    outline: none;
                    cursor: pointer;
                    border: none;
                    background: var(--model-btn);
                    padding: 0.7rem 1rem;
                    border-radius: 8px;
                    margin-top: 10px;
                    color: inherit;
                    display: flex;
                    justify-content: flex-end !important;
                    transition: all 0.3s ease;

                    &:hover {
                        background: var(--model-btn-hover);
                    }
                }
            }
        }
    }
}

.show {
    display: flex !important;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
