.home {
  display: flex;
  flex-direction: column;
  color: var(--text-color);

  h1 {
    font-size: 2rem;
    z-index: 22;
    font-weight: 600;
    color: var(--default-color);
  }
  p {
    // font-size: var(--font-size-lg);
    font-size: 2rem;
    font-weight: 600;
    color: var(--default-color);
  }

  .listing {
    position: relative;
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    transition: all 0.3s ease;

    .type_container {
      position: relative;
      height: 90px;
      margin: 3rem 0 1rem 0;

      .type_flow {
        position: absolute;
      }
    }

    div:nth-child(2) {
      display: flex;
      justify-content: flex-end;
    }
    @media screen and (max-width: 700px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

@media only screen and (max-width: 1080px) {
  .listing {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 785px) {
  .listing {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 480px) {
  .listing {
    padding: 0 20px;
  }
}
