.project_content{
  background-color: #161b22;
  position: relative;
  margin-top: -60px;
  padding: 15px;
  transition: all .3s ease;

  h2 {
    font-size: 30px;
    // margin-top: 80px;
  }
  h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 40px;
  }
  a:first-of-type{
    display: inline-block;
    padding: 10px 25px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
    background: linear-gradient(to right, #0665A3, #3498db);
    margin-right: 10px;
  
  
    &:hover{
        transform: translateY(-3px);
    }
  }
  a:last-of-type{
    display: inline-block;
    background: linear-gradient(to right, #0665A3 -100%, #3498db 100%);
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;	
    // font-size: 17px;
    font-weight: 700;
    transition: all .3s ease;
    letter-spacing: -1px;
    
      &:hover{
        transform: translateX(+5px);
    }
  }
}


.slideshow {
	width: 100%;
	max-width: 90%;
	text-align: center;
	position: relative;
	// height: 500px;
	margin: 0 auto;
  margin-bottom:46%;
	-webkit-tap-highlight-color: transparent;

    .slideshowSlider {
      position: relative;
      -webkit-tap-highlight-color: transparent;

      .slide {
        transition: all 0.9s ease-in;
        position: absolute;
        height: 400px;
        width: 100%;
        border-radius: 40px;
        opacity: 0;
        top: 0;
        left: 0;
        box-sizing: border-box;
      }
    }
  }
  
  .slideshowDots {
    position: relative;
    // bottom: -22rem;
    // margin-bottom: 56%;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
      .slideshowDot {
        display: inline-block;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        cursor: pointer;
        margin: 15px 5px 0px;
        background-color: #ABB7B7;
        transition: all 0.9s ease-in;
        -webkit-tap-highlight-color: transparent;
      }
  }
  
  .btnActive {
	background-color: #3498db !important;
  }
  
  .show {
	opacity: 1 !important;
  }

.details h2 {
  font-size: 3.5em;
  margin-top: 80px;
}
.details h3 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 40px;
}
.html {
  margin-top: 40px;
}
.featured {
  margin-bottom: 40px;
}

