.project_content{
  background-color: var(--bg-alt-color);
  position: relative;
  margin-top: -60px;
  padding: 15px;
  transition: all .3s ease;

  h2 {
    font-size: 30px;
    // margin-top: 80px;
  }
  h6 {
    font-size: 14px;
    margin-bottom: 40px;
  }
  p {
    margin-top: 15px;
    line-height: 1.8;
    letter-spacing: 0em;
  }
  a:first-of-type{
      padding: 15px 25px;
      font-size: 17px;
      border: 2px solid var(--accent);
      border-radius: .5rem;
      color: var(--accent);
      cursor: pointer;
      font-weight: 600;
      background: transparent;
      transition: all .3s ease;

      &:hover{
        color: #fff;
        background: var(--accent);
      }
  }
  a:last-of-type{
    display: inline-block;
    font-weight: 700;
    color: var(--accent) ;
    margin-left: 5px;
    transition: all .3s ease;
    
      &:hover{
        transform: translateX(+5px);
    }
  }
}


.slideshow {
	width: 100%;
	max-width: 90%;
	text-align: center;
	position: relative;
	margin: 0 auto;
  margin-bottom:46%;
	-webkit-tap-highlight-color: transparent;

    .slideshowSlider {
      position: relative;
      -webkit-tap-highlight-color: transparent;

      .slide {
        transition: all 0.9s ease-in;
        position: absolute;
        height: 400px;
        width: 100%;
        border-radius: 40px;
        opacity: 0;
        top: 0;
        left: 0;
        box-sizing: border-box;
      }
    }
  }
  
  .slideshowDots {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
      .slideshowDot {
        display: inline-block;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        cursor: pointer;
        margin: 15px 5px 0px;
        background-color: #ABB7B7;
        transition: all 0.9s ease-in;
        -webkit-tap-highlight-color: transparent;
      }
  }
  
  .btnActive {
	background-color: var(--accent) !important;
  }
  
  .show {
	opacity: 1 !important;
  }

.details h2 {
  font-size: 3.5em;
  margin-top: 80px;
}
.details h3 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 40px;
}
.html {
  margin-top: 40px;
}
.featured {
  margin-bottom: 40px;
}

